body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding-top: 125px;
    opacity: 0;
    transition: opacity 0.8s ease;
}

header {
    background-color: black;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    height: 100px;
}

.awal {
    display: flex;
    gap: 40px;
}

.awal a {
    color : white;
    text-decoration: none;
    align-items: center;
    transition: color 0.3s ease;
}

.awal a:hover {
    color: red;
}

.sirkuit-card {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.sirkuit-card img {
    width: 250px;
    margin-top: 50px;
}

.sirkuit-card .info h1 {
    margin: 0;
}

.sirkuit {
    margin-top: 10px;
    background-color: black;
    color:white;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

footer {
    background-color: black;
    color : white;
    text-align: center;
    padding : 10px;
    margin-top: 10px;
}