html, body {
    height: 100%;
    margin: 0;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
    padding-top: 125px;
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.8s ease;
}

/* NAVBAR */
header {
    background-color: black;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 100px;
}

.awal {
    display: flex;
    gap: 40px;
}

.awal a {
    color: white;
    text-decoration: none;
}

.awal a:hover {
    color: red;
}

/* DETAIL */
.rider-detail {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    padding: 40px 80px;
    background-color: black;
    margin-top: 10px;
}

/* LEFT */
.rider-profile {
    text-align: center;
}

.rider-profile img {
    width: 280px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.rider-profile h2 {
    margin: 10px 0;
}

.rider-profile p {
    margin: 5px 0;
}

/* RIGHT */
.rider-bio h1 {
    margin-top: 0;
}

.rider-bio p {
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 15px;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

.back-btn:hover {
    background: red;
    border-color: red;
}

/* FOOTER */
footer {
    background: black;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
