body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding-top: 125px;
    opacity: 0;
    transition: opacity 0.8s ease;
}

header {
    background-color: black;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    height: 100px;
}

.awal {
    display: flex;
    gap: 40px;
}

.awal a {
    color : white;
    text-decoration: none;
    align-items: center;
    transition: color 0.3s ease;
}

.awal a:hover {
    color: red;
}

.isi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}

.gambar{
    display: flex;
    justify-content: center;
}

.gambar img {
    width: 752px;
    height: auto;

}

footer {
    background-color: black;
    color : white;
    text-align: center;
    padding : 10px;
}

.form-container {
    margin: 50px auto;
    width: 400px;
    color: rgb(10, 10, 10);
    text-align: left;
}

.form-container h2 {
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input,
.form-container textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.form-container button {
    padding: 10px;
    background: red;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.form-container button:hover {
    background: darkred;
}

#notif {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.hero-video video {
    width: 100%;
    height: 800px;
    display: block;
}